#wrapper{
	width: 800px;
	outline: 3px solid #000;
	padding: 10px;
	margin: 0 auto;
	

}
#header {
	height: 100px;
	background-color: #000;
	margin-bottom: 12px;
}
#sidebarL{
	
	background-color: #AC0900;
	margin-bottom: 12px;
	width: 150px;
	float: left;
}
#sidebarR{
	
	background-color: #AC7D07;
	margin-bottom: 12px;
	width: 150px;
	float: right;
}
#content{
	
	background-color: #0600AC;
	margin-bottom: 12px;
	width: 480px;
	margin-left: 160px;
}
#footer{
	height: 100px;
	background-color: #AC009E;
	margin-bottom: 12px;
}
#sidebarR{
	
	background-color: #AC7D07;
	margin-bottom: 12px;
	width: 150px;
	float: right;
}
#padding{
	padding: 4px;
}
.clear{
	clear: both;
}