body{
	background-color: #696969;
}


#wrapper{
	width: 650px;
	margin: 20px auto;
	
	

}

#header{
	height: 75px;
	background-image: url(../img/redHeader.png);
	background-repeat: no-repeat;
	margin-bottom: 0;
	position: relative;
}
#content{
	background-color: #D7E1FF;
	padding: 5px;
	text-indent: 0px;
	text-align: justify}

hr{
	margin: 0;
}
h3{
	margin: 0px 0 10px 10px;
}
#new {
	position: absolute;
	left:0px;
	top:0;
}
#button{
	position: absolute;
	left:279px;
	top:-15px;


}
