*{
	margin:0;
	padding: 0;
    font-family: 'Times New Roman';
}
a{
	text-decoration: none;

}
ul{
	list-style-type: none;
}
header{
	width: 100%;
	background-color:#575457;
	display: flex;
	top: 200px;
}
.wrapper{
	width : 100%;
}
.navText{
	font-size: 26px;
	text-transform: uppercase;
	color: #FF1493;
	margin-left: 2330px;
}
.logo{
	text-transform: uppercase;	
	font-size: 20px;
	margin-left:20px;
	margin-right: 90%;
	margin-top: 10px;
	color:#fff;
	border:2px solid #fff;
}
.navbar{
	margin-top: 0px;
	margin-left:45%;
	
}
.navbar a{
	border: 2px solid black;
	padding: 0px;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 4px;
		
}
.navbar a:hover{
	color: #333232;
	
}