body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div{
	box-sizing: border-box;
}

#wrapper {
	width:800px;
	outline:2px solid #000;
	padding:10px;
	margin:0 auto;
}


#back{
	height: 200px;
	background: url(1.jpg) no-repeat center top/cover;
	
	text-align: center;
}

#header {
	height:77px;
	background-color:#E4F4FF;
	margin-bottom:12px;
}
#sidebar {
	padding:9px;
	width:150px;
	float:left;
	background-color:#6EFF81;
	margin-bottom:12px;
	text-align: justify;
}
#sidebarR{
	text-align: justify;

	padding:9px;
	width:150px;
	background-color:#6EFF81;
	margin:0 auto 12px auto;	
	float:right;
}

#content{
	padding:39px;
	width:460px;
	background-color:#FF5441;
	margin-bottom:12px;
	margin-left:160px;
	box-sizing: border-box;
	text-align: justify;
}
#footer{
	height:77px;
	background-color:#FFD2FE;
	margin-bottom:12px;
}

.clear{
	clear:both;
}