*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}





/*                           Header                      */





header {
	width: 100%;
	background-color: #000;
	display: flex;

}
.header__logo{
	text-transform: uppercase;
	color:#D20003;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 50px;
	margin-left: 12%;
	
}
nav{
	margin-top: 56px;
	margin-left: 29%;

}
.topnav a{
	color:#fff;
	text-align:center;
	padding: 5px 16px;
	font-size: 14px;
}
.topnav a:hover{
	border-bottom: 4px solid #D20003;
}
main{
	display: flex
	flex-direction: column;	
	width: 100%;
}
.main_welcome{
	background-color: #000;
	text-align: center; 
	padding: 200px 0 410px 0;
}
.main_welcome p{
	color: #fff;
}
.main_welcome h1:after{
	display: none;
}
.main_welcome h1{
	color:#999999;
}
.mycompany{
	color:#D20003;
}





/*                       Секция с компьютером и About                   */






.about{
	font-weight: 800;
	font-style: both;
}
.wrapper{
	width: 76%;
	margin: 0 auto;

}
.main_about{
	display: flex;
	padding: 111px 0 111px 0;
}

.about_right{
	margin-left: 156px;
}

.about_right h1{
	display: inline-block;
	padding-bottom: 4px;

}
.about_right p{
	margin-top: 49px;
	color:#898989;
	text-align: justify;
}
.about_right ul{
	color:#898989;
	margin-top: 50px;

}



/*                             Main team developers                         */



.main_team{
	background: #000;
	text-align: center;
	padding: 101px 0 160px 0;
	color:#fff;
}
.main_team h1{
	font-size: 44px;
	padding-bottom: 30px;
}

/*
.line {
	width: 100px;
	height: 5px;
	background-color: #D20003;
	position: relative;
	left:46%;
	margin-bottom: 111px;
}
*/

.photo1{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;  
	overflow: hidden;

}
.photo2{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;  
	overflow: hidden;
}
.photo3{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;  
	overflow: hidden;
}

.team_cards{
	display: flex;
	 flex: 1 auto;
}
.card{
	margin-left: 20px;
}
.name {
	margin-bottom: 7px;
}
.position{
	margin-bottom: 35px;
	font-style: italic;
}
.about_position{
	text-align;
}

/*       Our Services               */

.main_services {
	text-align: center;
	padding: 100px 0 30px 0;
}
.services{
	margin-bottom: 36px;
}

.wrapper p{
	color:#a9a9a9;
}
.main_services p{
	margin-bottom: 100px;
}
.servises_cards{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;

}
.servises_card h4{
	margin-bottom: 32px;
}
.servises_card p{
	margin-bottom: 110px;
	color:#000;
}





/*                         OUR    Clients                       */




.main_clients{
	background-color: #000;
	padding: 105px 0 200px 0;
	text-align: center;

}
.main_clients h1{
	text-align: center;
	color:#fff;
	font-style: normal;
	margin-bottom: 37px
}
.main_clients img{
	margin-left: 35px;
}

/*  ек */
.main_testimonials{
	background-color: #000;
	text-align: center;
	color:#fff;
	padding: 108px 0 178px 0;
	
	font-style: normal;
}
.main_testimonials h1{
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 38px;

}
.main_testimonials p{
	margin-bottom: 50px;
}
.testemonials{
	text-transform: uppercase;
	
}




/*                                   Galery                                */




.main_work{
	padding: 108px 0 105px 0;
	

}
.main_work h1{
	text-transform: uppercase;
	font-style: normal;
	text-align: center;
	margin-bottom: 40px;
}
.main_work p{
	margin-top: 65px;
	line-height: 22px;
	font-style: normal;
	margin-bottom: 185px;
	color:#6c6c6c;
	text-align: center;
}
.line2 img{
	margin-left: 3px;
}
.main_work img:hover{
	opacity: 0.9;
}

/*             Form Feedback                        */
.contact_wrapper{
	width: 760px;
	margin: 0 auto;
	color:#636363;
	padding: 100px 0 100px 0;
}
.contact_wrapper h1{
	text-transform: uppercase;
	font-style: normal;
	color:#000;
	text-align: center;
	margin-bottom: 35px;
}

.red{
	color:#F5253B;
}
input{
	width: 360px;
	height: 50px;
	font-size: 20px;
	margin-bottom: 30px;
	margin-right: 24px;
}
input:first-of-type{

}
.form_inputs{
	display: flex;
}
textarea{
	width: 100%;
	height: 163px;
}
input, textarea{
	border:1PX solid #999999;
	margin-top: 5px;
}
.button_block{
	display: flex;
	justify-content: flex-end;
}
input[type="submit"]{
	height: 40px;
	width: 166px;
	background:#fcac45;
	color:#fff;
	margin-right: 0;
	margin-top: 20px;
}

h1:after{
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #D20003;
}

/*  social */
footer{
	width: 100%;
	height: auto;
	background: #222222;
	padding: 30px 0 30px 0; 
}
.social {
	display: flex;
	justify-content: center;
}
.social img{
	margin-left: 12px;
}